.mainBoxAccess{
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.26);
    border-radius: 5px;
}

.accessMainBox{
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#saveMoney{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    height: auto;
}
#formAccess{
    position: absolute;
    width: calc(100%/3);
}