<div class="accessMainBox">
    <video autoplay muted loop id="saveMoney">
        <source src="/assets/video/pig-save-money.mp4" type="video/mp4">
    </video>
    <div id="formAccess">
        <div>
            <div>
                <app-navaccess (featureSelectedAccess)="onAccessNav($event)"></app-navaccess>
            </div>
            <div class="mainBoxAccess">
                <div *ngIf="leadAccessNav === 'login'">
                    <app-login></app-login>
                </div>
                <div *ngIf="leadAccessNav === 'joinnow'">
                    <app-joinnow></app-joinnow>
                </div>
            </div>
        </div>
    </div>
</div>