<div id="singLogForm">
    <video autoplay muted loop id="saveMoney">
        <source src="/assets/video/pig-save-money.mp4" type="video/mp4">
    </video>
    <div class="btnOptionAccess">
        <div>
            <a (click)="onSelectAccessOption('signIn')" class="btn">Sign In</a>
        </div>
        <div>
            <a (click)="onSelectAccessOption('logIn')" class="btn">Log In</a>
        </div>
        <!-- <div>
            <a (click)="onSelectAccessOption('signOut')" class="btn">Sign Out</a>
        </div> -->
    </div>
    <div class="optionAccess" *ngIf="loadOptionAccess === 'signIn'">
        <div>
            <form>
                <div class="formBox">
                    <mat-form-field class="example-full-width">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Ex. pat@example.com">
                    </mat-form-field>
            
                    <mat-form-field class="example-full-width">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput placeholder="Ex. xpto">
                    </mat-form-field>
                </div>
            </form>
        </div>
    </div>
    <div class="optionAccess" *ngIf="loadOptionAccess === 'logIn'">
        <div>
            Log In
        </div>
    </div>
    
    <div class="optionAccess" *ngIf="loadOptionAccess === 'signOut'">
        <div>
            Sign Out
        </div>
    </div>
</div>