<!-- <div class="optionAccess"> -->
        <!-- <form> -->
            <div class="formBox">
                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Ex. pat@example.com">
                </mat-form-field>
        
                <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput placeholder="Ex. xpto">
                </mat-form-field>

                <button mat-raised-button color="primary">Primary</button>

            </div>
        <!-- </form> -->
<!-- </div> -->